<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>당근마켓</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/boardDetail.css" th:href="@{/css/boardDetail.css}">

</head>
<body>
    <div class="all">
        <div class="inner">
            <div class="detail-main-container">
                <div class="sub1-container">
                    <a href="javascript:history.back();"><img class="icon1" src="/image/back.png"></a>
                    <a th:href="@{/boards}"><img class="icon1" src="/image/home.png"></a>
                </div>
                <img class="image" src="https://images.velog.io/images/kados22/post/0e43ee9f-3ecf-46af-9885-b70a5a78ed2e/%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%87%E1%85%A1%E1%86%AB%20Class%20Card%20%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF%203.png">
                <div class="sub2-container">
                    <img class="icon2" src="/image/noProfile.png">
                    <p sec:authentication="principal.member.nickname">닉네임</p>
                </div>
                <hr>
                <div th:if="${boardDetailDTO.postState} == 'RESERVATION'" class="post-re" th:text="예약중">예약중</div>
                <div th:if="${boardDetailDTO.postState} == 'COMPLETION'" class="post-com" th:text="거래완료">거래완료</div>
                <div class="sub3-container">
                    <div class="info-container">
                        <p class="info-sub" th:text="'제목: '+${boardDetailDTO.title}">제목</p>
                        <p th:text="'가격: '+${boardDetailDTO.price}+'원'">가격</p>
                    </div>
                    <div class="info-container">
                        <p class="info-sub" th:text="${'카테고리: '+boardDetailDTO.categoryName}">카테고리</p>
                        <p th:text="'게시시간: '+${#temporals.format(boardDetailDTO.updateDate, 'yyyy/MM/dd')}">게시시간</p>
                    </div>
                    <div class="content" th:text="'본문: '+${boardDetailDTO.content}">본문</div>
                </div>
                <hr>
                <div class="sub4-container" >
                    <div class="text5">
                    <span sec:authentication="principal.member.nickname">닉네임</span>
                    <span>님의 판매 상품</span>
                    </div>
                    <a class="all-view" th:href="@{/boards/members/{id}(id=${boardDetailDTO.writerId})}" >모두보기</a>
                </div>
                <div class="sub5-container">
                    <div th:each="dto : ${boardPreviewDTOList}">
                        <a th:href="@{/boards/{id} (id= ${dto.boardId})}">
                            <div class="list-card">
                                <img class="image2" src="https://images.velog.io/images/kados22/post/0e43ee9f-3ecf-46af-9885-b70a5a78ed2e/%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%87%E1%85%A1%E1%86%AB%20Class%20Card%20%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF%203.png">
                                <div class="font2" th:text="${dto.title}">제목</div>
                                <div class="font2" th:text="${dto.price}+'원'">가격</div>
                            </div>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="sub6-container">
                    <img class="icon3" src="/image/heart.png">
                    
                    <img class="icon3" src="/image/comment.png">
                    <a th:href="@{/boards/{id}/comments (id=${boardDetailDTO.boardId})}" style="color: rgb(255, 255, 255);" class="button">댓글보기</a>
                    <a th:href="@{/boards/{id}/comments/new (id=${boardDetailDTO.boardId})}" style="color: rgb(255, 255, 255);" class="button">댓글 남기기</a>
                </div>
            <div>
    </div>
    </div>
</body>
</html>
