<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>당근마켓</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/boardForm.css" th:href="@{/css/boardForm.css}">

</head>
<body>
    <div class="all">
        <div class="inner">
            <div class="main-container">
                <form th:action="@{/boards/{id}/image-delete (id=${boardUpdateResDTO.boardId})}" method="post"><button type="submit" class="button2">기존 이미지 삭제</button> </form>
                <form th:action="@{/boards/{id}/edit (id = ${boardUpdateResDTO.boardId})}" method="post" enctype="multipart/form-data">
                    <div class="sub1-container">
                        <a th:href="@{/profile/sales/boards/{id} (id =${boardUpdateResDTO.boardId})}"><img class="back" src="/image/back.png"></a>
                        <div class="font">중고거래 글쓰기</div>
                        <button type="submit" class="button">완료</button>
                    </div>
                    <hr>
                    <div class="sub2-container">
                        <input type="file" name="imageFiles" multiple>
                    </div>
                    <hr>
                    <input type="text" class="input-text" name="title" th:value="${boardUpdateResDTO.title}" required="required">
                    <hr>
                    <div class="sub5-container">
                        <select name="categoryId" class="option-control" required="required">
                            <option th:value="${boardUpdateResDTO.categoryId}" selected>카테고리</option>
                            <option th:each="categoryResDTO : ${categoryResDTOList}"
                                    th:value="${categoryResDTO.categoryId}"
                                    th:text="${categoryResDTO.name}"></option>
                        </select>
                    </div>
                    <hr>
                    <input type="number" class="input-text" name="price" th:value="${boardUpdateResDTO.price}" required="required">
    
                    <hr>
                    <input type="textarea" class="input-text2"
                           name="content" th:value="${boardUpdateResDTO.content}" required="required">

                </form>
              
            </div>
        </div>
    </div>
</body>
</html>