<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>당근마켓</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/boardList.css" th:href="@{/css/boardList.css}">

</head>
<body>
    <div class="all">
        <div class="inner">
            <div class="main-container">
                <h3 class="sub1-container" sec:authentication="principal.member.nickname">닉네임님동네</h3>
                <form>
                    <div class="search-container">
                        <input class="input-container" name="keyword">
                        <div class="search-button-container">
                            <img src="/image/search.png">
                            <img src="/image/menu.png">
                        </div>
                    </div>
                    <hr>
                </form>
                <div class="list-container">
                    <div th:each="dto:${boardResDTOList}">
                        <a th:href="@{/boards/{id}(id = ${dto.boardId})}">
                            <div class="list-block-container">
                                <img class="image" th:src="@{/img/{filename}
                                (filename= ${dto.boardImgDTO.filename}, folderPath = ${dto.boardImgDTO.folderPath}) }"
                                     alt="" onerror="this.src='https://images.velog.io/images/kados22/post/0e43ee9f-3ecf-46af-9885-b70a5a78ed2e/%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%87%E1%85%A1%E1%86%AB%20Class%20Card%20%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF%203.png'">

                                <div class="text">
                                    <p th:text="${dto.title}">제목</p>
                                    <p class="font2">장소</p>
                                    <p th:if="${dto.postState} == 'SALE'" th:text="${dto.price}+'원'">가격</p>
                                    <div th:if="${dto.postState} == 'RESERVATION'" class="post-re" th:text="예약중">예약중</div>
                                    <div th:if="${dto.postState} == 'COMPLETION'" class="post-com" th:text="거래완료">거래완료</div>
                                </div>
                                <div class="icon1-container">
                                    <div class="if-container" th:if="${dto.commentCount} > 0">
                                        <div class="image2"><img src="/image/comment.png"></div>
                                        <div th:text="${dto.commentCount}">n</div>
                                    </div>
                                    <div class="if-container" th:if="${dto.heartCount} > 0">
                                        <div th:if="${dto.isHeart} == true"  class="image2"><img src="/image/fullHeart.png"></div>
                                        <div th:if="${dto.isHeart} == false"  class="image2"><img src="/image/heart.png"></div>
                                        <div th:text="${dto.heartCount}">n</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <hr>
                    </div>
                </div>
                <div class="icon4-container">
                    <a th:href="@{/boards/new}"> <img class="icon4" src="/image/add.png"></a>
                </div>
                <div>
                <div class="sub2-container">
                    <a th:href="@{/boards}">
                        <div>
                            <div class="icon2-container"><img src="/image/home.png"></div>
                            <div class="text2">홈</div>
                        </div>
                    </a>
                    <a th:href="@{/profile}">
                        <div>
                            <div class="icon2-container"><img src="/image/myProfile.png"></div>
                            <div class="text3">나의당근</div>
                        </div>
                    </a>
                </div>
            <div>
    </div>
    </div>
</body>
</html>