<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>당근마켓</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/categorySearch.css" th:href="@{/css/categorySearch.css}">

</head>
<body>
    <div class="all">
        <div class="inner">
            <div class="main-container">
                <div class="sub1-container">
                    <a><img class="icon1" src="/image/back.png"></a>
                    <div style="line-height: 30px;">카테고리</div>
                </div>
                <div class="sub2-container">
                    <hr>
                    <div class="category-container">
                        <div class="list-category">
                            디지털 기기
                        </div>
                        <div class="list-category">
                            디지털 기기
                        </div>
                        <div class="list-category">
                            디지털 기기
                        </div>
                        <div class="list-category">
                            디지털 기기
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>