<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>당근마켓</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/categorySearch.css" th:href="@{/css/categorySearch.css}">

</head>
<body>
    <div class="all">
        <div class="inner">
            <div class="main-container">
                <div class="sub1-container">
                    <a><img class="icon1" src="/image/back.png"></a>
                    <div style="line-height: 30px;">카테고리</div>
                </div>
                <div class="sub2-container">
                    <hr>
                    <h4 style="text-align: center">필터링하고 싶은 카테고리를 체크해주세요.</h4>
                    <h5 style="text-align: center">>중복체크 가능 </h5>
                    <form th:action="@{/boards}", method="get">
                        <div class="category-container">
                            <div class="list-category" th:each="dto : ${categoryList}">
                                <label><input type="checkbox" name="categoryIdList" th:text="${dto.name}" th:value="${dto.categoryId}"></label>
                            </div>
                        </div>
                        <button type="submit" class="button">검색하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>