<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>당근마켓</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/memberBoardList.css" th:href="@{/css/memberBoardList.css}">

</head>
<body>
    <div class="all">
        <div class="inner">
            <div class="main-container">
                <div class="sub1-container">
                    <a><img class="icon1" src="/image/back.png"></a>
                    <div style="line-height: 30px;">판매상품 보기</div>
                </div>
                <div class="sub2-container">
                    <div>전체</div>
                    <div>판매중</div>
                    <div>거래완료</div>
                </div>
                <hr>
                <div class="sub3-container">
                    <div>
                        <a>
                            <div class="list-block-container">
                                <img class="image" src="/image/search.png">
                                <div class="text">
                                    <div>제목</div>
                                    <div class="font2">장소</div>
                                    <div>가격</div>
                                </div>
                                <div class="icon2-container">
                                    <div class="icon2"><img src="/image/comment.png"></div>
                                    <div>n</div>
                                    <div class="icon2"><img src="/image/heart.png"></div>
                                    <div >n</div>
                                </div>
                            </div>
                        </a>
                        <hr>
                        <a>
                            <div class="list-block-container">
                                <img class="image" src="/image/search.png">
                                <div class="text">
                                    <div>제목</div>
                                    <div class="font2">장소</div>
                                    <div>가격</div>
                                </div>
                                <div class="icon2-container">
                                    <div class="icon2"><img src="/image/comment.png"></div>
                                    <div>n</div>
                                    <div class="icon2"><img src="/image/heart.png"></div>
                                    <div >n</div>
                                </div>
                            </div>
                        </a>
                        <hr>
                        <a>
                            <div class="list-block-container">
                                <img class="image" src="/image/search.png">
                                <div class="text">
                                    <div>제목</div>
                                    <div class="font2">장소</div>
                                    <div>가격</div>
                                </div>
                                <div class="icon2-container">
                                    <div class="icon2"><img src="/image/comment.png"></div>
                                    <div>n</div>
                                    <div class="icon2"><img src="/image/heart.png"></div>
                                    <div >n</div>
                                </div>
                            </div>
                        </a>
                        <hr>
                        <a>
                            <div class="list-block-container">
                                <img class="image" src="/image/search.png">
                                <div class="text">
                                    <div>제목</div>
                                    <div class="font2">장소</div>
                                    <div>가격</div>
                                </div>
                                <div class="icon2-container">
                                    <div class="icon2"><img src="/image/comment.png"></div>
                                    <div>n</div>
                                    <div class="icon2"><img src="/image/heart.png"></div>
                                    <div >n</div>
                                </div>
                            </div>
                        </a>
                        <hr>
                        <a>
                            <div class="list-block-container">
                                <img class="image" src="/image/search.png">
                                <div class="text">
                                    <div>제목</div>
                                    <div class="font2">장소</div>
                                    <div>가격</div>
                                </div>
                                <div class="icon2-container">
                                    <div class="icon2"><img src="/image/comment.png"></div>
                                    <div>n</div>
                                    <div class="icon2"><img src="/image/heart.png"></div>
                                    <div >n</div>
                                </div>
                            </div>
                        </a>
                        <hr>
                        <a>
                            <div class="list-block-container">
                                <img class="image" src="/image/search.png">
                                <div class="text">
                                    <div>제목</div>
                                    <div class="font2">장소</div>
                                    <div>가격</div>
                                </div>
                                <div class="icon2-container">
                                    <div class="icon2"><img src="/image/comment.png"></div>
                                    <div>n</div>
                                    <div class="icon2"><img src="/image/heart.png"></div>
                                    <div >n</div>
                                </div>
                            </div>
                        </a>
                        <hr>
                    </div>
                </div>
            <div>
    </div>
    </div>
</body>
</html>