.sub1-container{
    display: flex;
    background-color: white;
    position: fixed;
    height: 40px;
    padding-left: 1rem;
    margin-top: 10px;
}
.icon1{
    max-width: 30px;
    margin-right: 10px;
}

.sub2-container{
    margin-top: 70px;
}

.category-container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
}

.list-category{
    width: 105px;
    height: 90px;
    padding-left: 1rem;
    line-height: 90px;
}

.button{
    background-color: rgb(255, 145, 0);
    border-style: none;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    line-height: 40px;
    text-align: center;
    margin-top: 50px;
    margin-left: 70px;
    font-size: large;
    color: white;
    padding-left: 4rem;
}