.sub1-container{
    display: flex;
    background-color: white;
    position: fixed;
    height: 60px;
    padding-left: 1rem;
    width: 360px;
    padding-top: 15px;
}
.icon1{
    max-width: 30px;
    margin-right: 10px;
}

.sub3-container{
    overflow: scroll;
    height: 524px;
    margin-top: 70px;
}

.list-block-container{
    display: flex;
    height: 114px;
}

.image{
    max-width: 100px;
    margin-left: 1rem;
}

.icon2-container{
    padding-top: 65px;
    display: flex;
}

.icon2{
    max-width: 25px;
    margin-left: 10px;
    margin-right: 5px;
}

.if-container{
    display: flex;
}

.text{
    margin-left: 1.5rem;
    width: 90px;
    margin-top: 1rem;
    font-size: small;
}

.font2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
    color: rgb(145, 150, 150);
}

.post-re{
    background-color: rgb(117, 114, 114);
    border-radius: 10px;
    height: 30px;
    width: 60px;
    text-align: center;
    line-height: 30px;
    color: white;
}

.post-com{
    background-color: black;
    border-radius: 10px;
    height: 30px;
    width: 60px;
    text-align: center;
    line-height: 30px;
    color: white;
}