<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>당근마켓</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/commentList.css" th:href="@{/css/commentList.css}">
</head>
<body>
    <div class="all">
        <div class="inner">
            <div class="main-container">
                <div class="sub1-container">
                    <a href="javascript:history.back();"><img class="icon1" src="/image/back.png"></a>
                    <div style="line-height: 30px;">댓글 보기</div>
                </div>
                <div class="sub2-container">
                    <hr>
                    <div class="board-info-container">
                        <img class="image" src="https://images.velog.io/images/kados22/post/0e43ee9f-3ecf-46af-9885-b70a5a78ed2e/%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%87%E1%85%A1%E1%86%AB%20Class%20Card%20%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF%203.png">
                        <div class="text">
                            <div th:text="${previewDTO.title}">제목</div>
                            <div class="font2">장소</div>
                            <div th:text="${previewDTO.price}+'원'">가격</div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="sub3-container">
                    <div th:each="dto : ${commentResDTOList}">
                        <div class="list-block-container">
                            <div class="image2-container"><img class="image2" src="/image/noProfile.png"></div>
                            <div class="text-container">
                                <div class="member-info-container">
                                    <p th:text="${dto.writerNickname}">닉네임</p>
                                    <p th:text="${#temporals.format(dto.updateDate, 'yyyy/MM/dd')}">시간</p>
                                </div>
                                <div class="comment-container" th:text="${dto.content}">comment</div>

                                <div th:if="${principalId} == ${dto.writerId}" class="command-container">
                                    <a>edit &nbsp;</a><a>delete</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <a class="button">댓글 남기기</a>
            <div>
    </div>
    </div>
</body>
</html>