<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>당근마켓</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/commentList.css" th:href="@{/css/commentList.css}">
</head>
<body>
    <div class="all">
        <div class="inner">
            <div class="main-container">
                <div class="sub1-container">
                    <a th:href="@{/boards/{id} (id=${previewDTO.boardId})}"><img class="icon1" src="/image/back.png"></a>
                    <div style="line-height: 30px;">댓글 보기</div>
                </div>
                <div class="sub2-container">
                    <hr>
                    <div class="board-info-container">
                        <img class="image" src="https://images.velog.io/images/kados22/post/0e43ee9f-3ecf-46af-9885-b70a5a78ed2e/%E1%84%8B%E1%85%B5%E1%86%AF%E1%84%87%E1%85%A1%E1%86%AB%20Class%20Card%20%E1%84%8A%E1%85%A5%E1%86%B7%E1%84%82%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AF%203.png">
                        <div class="text">
                            <div th:text="${previewDTO.title}">제목</div>
                            <div class="font2">장소</div>
                            <div th:text="${previewDTO.price}+'원'">가격</div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="sub3-container">
                    <div th:each="dto : ${commentResDTOList}">
                        <div class="list-block-container">
                            <div th:if="${dto.isExist} == false">삭제된 댓글입니다.</div>
                            <div th:if="${dto.isExist} == true" class="image2-container">
                                <img class="image2" src="/image/noProfile.png">
                                <a th:href="@{/boards/{id}/comments/new(id= ${previewDTO.boardId}, parentId =${dto.commentId})}" style="font-size: x-small">대댓글 달기</a>
                            </div>
                            <div th:if="${dto.isExist} == true" class="text-container">
                                <div class="member-info-container">
                                    <p th:text="${dto.writerNickname}">닉네임</p>
                                    <p th:text="${#temporals.format(dto.updateDate, 'yyyy/MM/dd')}">시간</p>
                                </div>
                                <div class="comment-container" th:text="${dto.content}">comment</div>

                                <div th:if="${principalId} == ${dto.writerId}" class="command-container">
                                    <a th:href="@{/comments/{id}/edit (id = ${dto.commentId})}">edit &nbsp;</a>
                                    <form th:action="@{/comments/{id}/delete (id = ${dto.commentId})}" method="post">
                                        <button class="delete" type="submit" onclick="del();">delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div th:each="childDTO : ${dto.childList}">
                            <div class="list-block-container">
                                <div><img class="image3" src="/image/down.png"></div>
                                <div th:if="${childDTO.isExist} == false">삭제된 댓글입니다.</div>
                                <div th:if="${childDTO.isExist} == true" class="image2-container">
                                    <img class="image2" src="/image/noProfile.png">
                                    <a th:href="@{/boards/{id}/comments/new(id= ${previewDTO.boardId}, parentId =${dto.commentId})}" style="font-size: x-small">대댓글 달기</a>
                                </div>
                                <div th:if="${childDTO.isExist} == true" class="text-container">
                                    <div class="member-info-container">
                                        <p th:text="${childDTO.writerNickname}">닉네임</p>
                                        <p th:text="${#temporals.format(dto.updateDate, 'yyyy/MM/dd')}">시간</p>
                                    </div>
                                    <div class="comment-container" th:text="${childDTO.content}">comment</div>

                                    <div th:if="${principalId} == ${childDTO.writerId}" class="command-container">
                                        <a th:href="@{/comments/{id}/edit (id = ${childDTO.commentId})}">edit &nbsp;</a>
                                        <form th:action="@{/comments/{id}/delete (id = ${childDTO.commentId})}" method="post">
                                            <button class="delete" type="submit" onclick="del();">delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <a th:href="@{/boards/{id}/comments/new (id = ${previewDTO.boardId})}" class="button" style="color: rgb(255, 255, 255);">댓글 남기기</a>
            <div>
    </div>
    </div>
</body>
</html>