<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>당근마켓</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/commentForm.css" th:href="@{/css/commentForm.css}">

</head>
<body>
    <div class="all">
        <div class="inner">
            <div class="main-container">
                <div class="sub1-container">
                    <a><img class="icon1" src="/image/back.png"></a>
                    <div style="line-height: 30px;">댓글 남기기</div>
                </div>
                <form th:action="@{/comments}" method="post">
                    <div class="input-container">
                        <hr>
                        <input type="hidden" name="boardId" th:value="${boardId}">
                        <input type="hidden" name="parentId" value="">
                        <input class="input" type="text" name="content" placeholder="댓글을 남겨주세요" />
                    </div>
                    <button type="submit" class="button">작성완료</button>
                </form>
            <div>
    </div>
    </div>
</body>
</html>